.spinner {
    &.spinner-centered {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-top: 25px;
        padding-bottom: 25px;
    } 
}